<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighborhood Watch</title>

    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

     <!--google font API-->
     <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

     <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'querydata/style.css' %}">

</head>

<body>
    <section id="header">
        {% comment %} <div class="col-lg-6">
            <b><img class="logo" src="crimestat.png" alt="" width="120" height="100"></b>
        </div> {% endcomment %}
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav menu">
                  <li class="nav-item menu-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active" href="#">ABOUT</a>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active" href="#">QUERY</a>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active" href="#">GITHUB</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </section>
    <div class="float-container">
        <div class="float-child flex-shrink-0 p-3 bg-white ">
            <a href="" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold">Query Selector</span>
            </a>

            <ul class="list-unstyled ps-0">
            
            {% comment %} sets up the selection form for selecting states and agency types {% endcomment %}
            {% if states %}
                <form action="{% url 'agencySelection' %}" method="post">
                {% csrf_token %}
                <fieldset>
                <li class="mb-1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select States
                        </button>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                            {% for item in states %}
                                <div class="inline-field">
                                    <label for="dropdown-item"> {{item}} </label>
                                    <input type="checkbox" class="dropdown-item check" id="selection" value="{{item}}" name="selection">
                                </div><br>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="mb-1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Agency Type
                        </button>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                            {% for location in agencytypes %}
                                <div class="inline-field">
                                    <label for="dropdown-item"> {{location}} </label>
                                    <input type="checkbox" class="dropdown-item check" id="typeAgency" value="{{location}}" name="typeAgency">
                                </div><br>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                </fieldset>
                <input type="submit" value="Submit">
                </form>
            {% endif %}

            {% comment %} sets up the selection form for selecting crime family and specific agencies {% endcomment %}
            {% if agencynames %}
                    <form action="{% url 'parameterSelection' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                    <li class="mb-1">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Agencies
                            </button>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                {% for names in agencynames %}
                                    <div class="inline-field">
                                        <label for="dropdown-item"> {{names}} </label>
                                        <input type="checkbox" class="dropdown-item check" id="nameAgency" value="{{names}}" name="nameAgency">
                                    </div><br>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Crime Family
                            </button>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                <div class="inline-field">
                                    <label for="dropdown-item"> Crimes Against Property </label>
                                    <input type="checkbox" class="dropdown-item check" id="crimeFamily" value="CRIMESAGAINSTPROPERTY" name="crimeFamily">
                                </div><br>
                                <div class="inline-field">
                                    <label for="dropdown-item"> Crimes Against Persons </label>
                                    <input type="checkbox" class="dropdown-item check" id="crimeFamily" value="CRIMESAGAINSTPERSONS" name="crimeFamily">
                                </div><br>
                                <div class="inline-field">
                                    <label for="dropdown-item"> Crimes Against Society </label>
                                    <input type="checkbox" class="dropdown-item check" id="crimeFamily" value="CRIMESAGAINSTSOCIETY" name="crimeFamily">
                                </div><br>
                            </div>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Years
                            </button>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                <div class="inline-field">
                                    <label for="dropdown-item"> 2016 </label>
                                    <input type="checkbox" class="dropdown-item check" id="year" value="2016" name="year">
                                </div><br>
                                <div class="inline-field">
                                    <label for="dropdown-item"> 2017 </label>
                                    <input type="checkbox" class="dropdown-item check" id="year" value="2017" name="year">
                                </div><br>
                                <div class="inline-field">
                                    <label for="dropdown-item"> 2018 </label>
                                    <input type="checkbox" class="dropdown-item check" id="year" value="2018" name="year">
                                </div><br>
                                <div class="inline-field">
                                    <label for="dropdown-item"> 2019 </label>
                                    <input type="checkbox" class="dropdown-item check" id="year" value="2019" name="year">
                                </div><br>
                            </div>
                        </div>
                    </li>
                    {% comment %} passes along query information from the previous page as a hidden field {% endcomment %}
                    {% for states in selectedStates%}
                        <input type="hidden" id="state" value="{{states}}" name="state">
                    {% endfor %}
                    {% for types in selectAgencyType%}
                        <input type="hidden" id="agencyType" value="{{types}}" name="agencyType">
                    {% endfor %}
                </fieldset>
                <input type="submit" value="Submit">
                </form>
           {% endif %}

            <li class="border-top my-3"></li>
            <p> Current selections </p>
            <li class="border-top my-3"></li>
            {%if selectedStates %}
            <li class="mb-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected States
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for item in selectedStates %}
                            <div class="inline-field">
                                <label for="dropdown-item"> {{item}} </label>
                            </div><br>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endif %}
            
            {%if selectAgencyType %}
            <li class="mb-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected Agency Types
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for type in selectAgencyType %}
                            <div class="inline-field">
                                <label for="dropdown-item"> {{type}} </label>
                            </div><br>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endif %}

            {%if selectedAgencies %}
            <li class="mb-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected Agencies
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for agencies in selectedAgencies %}
                            <div class="inline-field">
                                <label for="dropdown-item"> {{agencies}} </label>
                            </div><br>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endif %}

            {%if selectedCrimeFamily %}
            <li class="mb-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected Crime Families
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for families in selectedCrimeFamily %}
                            <div class="inline-field">
                                <label for="dropdown-item"> {{families}} </label>
                            </div><br>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endif %}

            {%if selectedYears %}
            <li class="mb-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected Years
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for years in selectedYears %}
                            <div class="inline-field">
                                <label for="dropdown-item"> {{years}} </label>
                            </div><br>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endif %}
            </ul>
       
        </div>
        
        <div  class="float-child query-sect">
            {% if query %}
            <div class="row">
                {% for col in columns %}
                    <div class="col col-names"> {{col}} </div>
                {% endfor %}
            </div>
                <br/>
                {% for row in query %}
                <div class = "row " >
                    {% for item in row %}
                    <div class="col items"> {{item}} </div>
                    {% endfor %}
                </div>
                    </br>
                {% endfor %}
        </div>
    </div>
        {% else %}
            <p>No queries have been submitted at this time.</p>
            <p>Take a moment to fill out the necessary fields and resubmit.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>