.float-container {
    height: 80vh;
    margin: 5px;
}

.float-child {
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #E4E9FD !important;
    border: 1px solid gray;
    width: 18vw;
    margin: 2px;
    padding: 0 !important;
    float: left;
    height: 90vh !important;
}  

.col
{
    border: 1px solid gray;
    margin: 0 !important;
    padding: 10px;
}

.col-names
{
    font-size: 10px; 
    margin: 5px;  
    width: 30px; 
    word-wrap: break-word;
}

.query-sect
{
    width: 80vw !important;
}

body {
    background-color: #E4E9FD;
    height: 100vh;
    font-family: 'Share Tech Mono', sans-serif;
  }

#header, .navbar
{
    font-family: 'Share Tech Mono', sans-serif;
    align-items: center;
    height: 10vh;
    justify-content: center;
    background-color: #E4E9FD;
    border-bottom: black; 
}

.logo
{
  position: absolute;
  margin: 10px;
  z-index: 2;
}

.navbar-nav, .header-logo
{
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #E4E9FD;
}

.nav-link
{
    font-size: 25px;
    margin: 10px;
    color: black !important;
}
  
.titlebg
{
    font-family: 'Share Tech Mono', sans-serif;
    margin-top: 15vh;
    width: 100vw;
}

.inline-field label
{
    float: left;
    width: 15vw;
    margin-left: 10px;
}

.inline-field input
{
   width: 2vw;
}

.inline-field
{
    display: flex !important;
    float: left;
}

.dropdown-menu
{
    font-size: small !important;
    width: 100% !important;
}

.scrollable-menu {
    max-height: 30vh !important;
    overflow-x: scroll;
}

input.check
{
    width: 10px !important;
    height: 10px !important;
}
